@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Markazi+Text:wght@400..700&display=swap');
*{
  margin:0px;
  padding: 0px;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #c8c8c8;
  font-family: "Markazi Text", "cairo", serif;
  font-optical-sizing: auto;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  animation: fade 0.5s ease-in-out;
}
header{
  direction: ltr;
  display: flex;
  justify-content: space-between;
  padding:20px;
  color: white;
  background-color: #000;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 100000000000000000;
}
nav{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  background-color: #000;
  border-radius: 20px;
  border: 1px solid #fff;
}
header nav ul{
  list-style: none;
  display: flex;
}
nav ul li{
  margin-left: 20px;
}
 ul li a{
    padding: 3px 5px;
    color: #fff;
}
li a:hover{
  background-color: #fff;
  border-radius: 15px;
  color: black;
}
a{
  text-decoration: none;
}
.clear{
  height: 78px;
  width: 100%;
  background-color: transparent;
}
main, #serves{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  text-align: center;
  width: 83%;
  background-color: #fff;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  box-shadow: .5px .5px 5px .5px #000;
  border: 2px solid black;
}
section:hover{
  scale: 1.05;
}
section h4{
  text-decoration-line: underline;
  margin: 10px;
}
section img{
  width: 80%;
  margin-bottom: 7px;
  border-radius: 15px;
  box-shadow: .1px .1px 5px 0px #000;
}
section button{
  background-color: #c8c8c8;
  border: 2px solid black;
  padding: 2px 5px;
  margin-top: 5px;
}
button a{
  color: #000;
  text-decoration-line: underline;
  text-decoration-color: #000;
}
button:hover{
  box-shadow: 1px 1px 5px 0px #000;
}
@media (min-width: 767px){
  #serves{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fil, minmax(300px, 1fr));
  }
  #serves section{
    grid-column: span 1;
    grid-row: span 1;
    margin: 20px auto;
  }
}
.contact input, #area{
  width: 80%;
  height: 10%;
  border: 1px solid black;
  outline: black;
}
#user:invalid, #emil:invalid, #area:invalid{
  border: 2px solid red;
}
#user:valid, #emil:valid, #area:valid{
  border: 2px solid green;
}
footer img{
  width: 30px;
  border-radius: 20%;
}
.social{
  text-align: center;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000;
}
.hero p a{
 text-decoration-line: underline;
 color: black;
}
@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
header h5:hover, li a:hover{
  animation: fade 0.5s;
}